/** 
Theme Name: Clynk Events 
Theme Author: ITSolution24x7
Theme Version: 1.0
**/

/**
Index - Desktop Styles
------------------
1. Global Styles & Fonts Import
2. Global Element Styles 
    |--> Button Types 
    |--> Special Classes and Cases 
    |--> Defining Custom Variables
3. Header Styles
**/

/** Global Styles and Fonts Import **/
/** Monsterrat 300-400-500-600-700-900**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


/** Theme Preset Color Variables **/
:root {
    --primary: #CAAD2D;
    --shade-primary: #F7DD3B;
    --secondary: #000;
    --contrast: #fff;

    --green:#05C93A;
    --yellow:#CAAD2D;
    --pink:#C90541;

}
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

ul,
dl,
ol,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--contrast);
}

a:hover {
    color: var(--contrast);
}

div#main {
    margin: 0 0 0 0px;
}
hr {
    margin: 5px;
}
.modal{
    z-index:99999999999999999;
}
form#complete-registration .post-form-links {
    margin: 0;
}

/** Toggle Slide Switch Button **/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #d9d9d9;
  }
  
  input:checked + .slider {
    background-color:var(--primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/** End Toggle Switch **/

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '.';
    font-size: 60px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}
.slick-dots li.slick-active button:before{
    opacity:1;
    color: #caad2d;
}
/** JQuery UI calendar **/
.ui-widget-header {
    background: none;
    border: none;
}

table.ui-datepicker-calendar {
    font-weight: 400!important;
}

.ui-datepicker th {
    font-weight: 500;
}
/** Special Classes and Elements **/
.clynk-default {
    background: var(--primary);
    color: var(--contrast);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.clynk-style-2 {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: none;
    border: 2px solid #202020b8;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
button.clynk-default-3 {
    background: var(--pink);
    color: var(--contrast);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top:10px;
}
.clynk-style-2 i {
    margin-left: 10px;
}

.clynk-style-5:hover{
    background:var(--primary);
    color: #fff;
    transition:all .3s ease-in;
}
.clynk-style-5{
    background:none;
    border:2px solid var(--primary);
    color: var(--primary);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top:10px;
    font-weight: 600;
}

.modal-content {
    border-radius: 10px;
}

section .clynk-style-2 {
    width: unset;
    border: none;
    font-weight: 700;
    text-decoration: none;
    padding: 0;
}

.tb {
    display: table;
    width: 100%;
    height: 100%;
}

.tbc {
    display: table-cell;
    width: 100%;
    height: 100%;
}

section {
    margin: 50px 0;

}

/** Re-usable Elements Styles  **/

.section-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.section-text {
    font-size: 16px;
}

p.section-text a {
    color: #000;
    font-weight: 600;
}

/** Divider **/

.divider {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    position: relative;
}

.divider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #c9c9c9;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 12px;
}

.divider span {
    background: #f0f0f0;
    position: relative;
    z-index: 2;
    padding: 10px;
}


/** Footer Sticky Bottom **/
.footer-navbar-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
}

ul.footer-navbar-links {
    display: flex;
    list-style: none;
    text-align: center;
    border-top: 1px solid #cacaca;
    box-shadow: 5px 5px 10px #2226;
    justify-content: space-around;
}

ul.footer-navbar-links li {
    padding: 10px 0px;
    font-size: 13px;
    font-weight: 500;
}

ul.footer-navbar-links li img {
    max-width: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.avatar-image-holder {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
}

ul.footer-navbar-links li a {
    color: #000;
}

/** ENd FOoter Bottom Sticky **/

/** End Divider **/

.clynkModal .btn-close {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #000 !important;
    opacity: 1;
}

.clynkModal .modal-content {
    background-color: #F0F0F0;
}

.clynkModal .modal-header {
    display: block;
    border-bottom: none;
}

.clynkModal .modal-header h4 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

.clynkModal .modal-body {
    padding: 2rem;
}

.clynkModal label,
.clynkModal input,
.clynkModal select {
    display: block;
    width: 100%;
}

form#registration p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.clynkModal input {
    height: 50px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    padding: 0px 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
}

.clynkModal .modal-body button {
    width: 100%;
}
.clynkModal input[type="submit"] {
    height: 42px;
}

#loginModal .post-form-links a {
    text-decoration: underline!important;
    margin: 15px 0px;
    font-weight: 600;
}
#registration select {
    height: 55px;
    border: 1px solid #d9d9d9;
    padding: 0px 10px;
    padding-top: 20px;
    border-radius: 5px;
}
span.select-text {
    position: absolute;
    margin-left: 15px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
}
.social-login-buttons button {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 5px 20px;
    border: 2px solid #CCCCCC;
    background: #fff;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: #717171;
}

.social-login-buttons button img,
.social-login-buttons button i {
    margin-right: 20px;
    float: left;
    position: relative;
    top: 5px;
}

.social-login-buttons button i.fa-facebook {
    color: #1877f2;
}

.post-form-links p {
    margin: 0;
    font-size: 12px;
    margin-top: 7px;
    font-weight: 400;
}

.post-form-links p a {
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    margin-left: 2px;
    display: inline;
}

span.message {
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin: 10px 0px;
}


.terms-agreement-signup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
}

.terms-agreement-signup p {
    font-size: 12px;
    line-height: 18px;
}

.terms-agreement-signup input {
    margin: 3px 10px;
    height: 25px !important;
    width: 25px !important;
}

button#signup_complete {
    margin-top: 20px;
    width: 100%;
}

/** Login Modal **/
.post-form-links a {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 500;
}

.post-form-links {
    margin-top: 10px;
}

/** End Login Modal **/
/** Custom Tabs **/
.step {
    display: none;
}

.step.activeTab {
    display: block;
}

/** End Custom Tabs **/

/** Search Bar **/
.search-wrapper-top {
    position: fixed;
    top: -100px;
    background: #000000f7;
    height: 215px;
    width: 100vw;
    padding: 60px 115px;
    box-shadow: 5px 5px 10px #2223;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
}

.search-wrapper-top.show {
    top: 0;
    visibility: visible;
    opacity: 1;
    z-index: 9999999;
}

.search-wrapper-top button {
    background: none;
    color: #ffffff;
    border: none;
    position: absolute;
    right: 10%;
    margin-top: 25px;
}

.search-wrapper-top input {
    background: none;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    padding: 20px 50px 20px 0px;
    font-size: 18px;
}

.search-wrapper-top p {
    margin-top: 15px;
    color: #fff;
    font-size: 13px;
}

/** End Search Bar **/

/** Header Styles **/
header.top-header {
    background-color: var(--secondary);
    padding: 0;
    position: relative;
    /* box-shadow: 5px 10px 10px #2223; */
}

header.top-header .logo img {
    max-width: 125px;
}

ul.primary-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

img.avatar-image {
    max-width: 50px;
    border-radius: 50%;
    height: 50px;
}

ul.primary-nav li {
    display: inline-block;
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 25px 0px;
}

ul.primary-nav li a {
    color: #fff;
    text-decoration: none;
}

ul.primary-nav button {
    background: none;
    border: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
ul.primary-nav li span.bookings {
    background: #C90541;
    color: #fff;
    padding: 2px 7px;
    border-radius: 50%;
    margin-left: 5px;
}
ul.user-menu {
    position: absolute;
    background: #fff;
    top: 50%;
    width: 220px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 15px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
    box-shadow: 5px 5px 10px #2225;
    right: 0;
}


ul.user-menu li a {
    color: #000;
    padding: 0;
    margin: 0;
}

ul.user-menu li {
    display: block;
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
}

ul.user-menu li:last-child {
    border: none;
}

ul.user-menu li:hover a {
    color: var(--primary);
}

ul.user-menu.user-menu-open {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in;
}
header.top-header.sticky {
    position: fixed;
    top: 0;
    z-index: 99999;
    right: 0;
    left: 0;
}
/** Mobile Elements **/
ul.mobile-action-icons {
    position: absolute;
    right: 20px;
    top: 35%;
    list-style: none;
}

ul.mobile-action-icons button {
    background: none;
    border: none;
    color: #fff;
}

ul.mobile-action-icons li {
    display: inline-block;
    justify-content: center;
    align-items: center;
}


/** Mobile DropDown Menu Styles **/
.mobile-menu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    background: #141207eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: all .3s ease-in;

}

.mobile-menu-wrapper.opened {
    position: fixed;
    visibility: visible;
    opacity: 1;
    top: unset;
    transition: all .3s ease-in;
}

.mobile-menu-wrapper ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

.mobile-menu-wrapper ul li {
    font-size: 18px;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
}

/** Choose Location Modal **/

button#go-back {
    background: none;
    border: none;
    margin-bottom: 50px;
    font-size: 22px;
}

.choose-location-screen input#location-search {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 10px 30px 10px 10px;
}

.choose-location-screen p {
    font-size: 14px;
}

span#locate-me {
    position: absolute;
    right: 40px;
    color: #b0afad;
    margin-top: -35px;
}

/** ==============================================================
====================== Homepage Styles ===========================
================================================================ **/
/** Hero Unit Styles **/
.hero-bg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clynk-home-form-booking-wrapper {
    background: #f0f0f0;
    padding: 25px;
    max-width: 85%;
    margin: 0 auto 0 0;
    border-radius: 10px;
    opacity: 0.9;
}

.clynk-home-form-booking-wrapper h4 {
    font-weight: 700;
    color: #303030;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 30px;
}

.hero-table-cell {
    vertical-align: middle;
}

form#main-search-form label {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.submit_btn {
    text-align: right;
}


select#number_guests {
    margin-top: 10px;
    width: 100%;
    padding: 7px;
    border: 1px solid #d9d9d9;
}


/** Profile Management Modal **/
.avatar-image {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
}

ul.profile-links {
    list-style: none;
    margin-top: 20px;
}

ul.profile-links li a {
    color: #000;
    font-weight: 500;
    display: block;
    font-size: 16px;
}

ul.profile-links li {
    padding: 15px 0px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
}

ul.profile-links li:last-child {
    border: none;
}

ul.profile-links li.active a {
    font-weight: 600;
}
/** End Profile Managemnt Modal **/

/** Where to Play Cards **/
.where-cards {
    grid-gap: 15px;
    margin-top: 25px;
}

.where-card-single {
    height: 235px;
    background-position: center;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
}

.where-card-single::after {
    content: "";
    background: #00000075;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
}

.where-card-single h5 {
    position: relative;
    z-index: 9999;
    color: #fff;
}

.where-card-single h5::after {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    background: #fff;
    right: 0;
    top: 25px;
    width: 0;
    transition: all .3s ease-in;
}

.where-card-single:hover h5::after {
    width: 100%;
    transition: all .3s ease-in;
}


/** Venue Cards **/

.venue-card-single {
    max-height: 250px;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 10px 10px auto;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
}

.venue-card-single p {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.venue-card-single button {
    margin-bottom: 45px;
    background: #0009;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #caad2d;
    font-size: 14px;
}


/** Explore Cards **/

.explore-cards {
    margin-top: 20px;
}
.explore-card-single {
    height: 185px;
    display: flex!important;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}

.explore-cards .slick-prev {
    display: none!important;
}

.explore-cards button.slick-next {
    position: absolute;
    top: 45%;
    right: -30px;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.explore-cards button.slick-next:hover {
    background: #000;
    color: #fff;
}
.explore-card-single p {
    margin-bottom: 25px;
}

/** Featured VIP Experiences **/
.vip-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vip-experience-image {
    height: 165px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.vip-single {
    margin-top: 20px;
    width: 24%;
}

.meta-vip {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.meta-vip h5 {
    font-size: 15px;
    color: #494949;
}

.meta-vip span i {
    color: #caad2d;
}

.meta-vip span {
    font-size: 15px;
}

.vip-single h4.vip-title {
    font-size: 16px;
    font-weight: 600;
}

.vip-single h4.price {
    font-size: 16px;
    font-weight: 600;
}
.vip-cards {margin-top: 15px;}

/** Great Events **/
.great-event-single {
    width: 32%;
}

.great-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.great-event-image {
    height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.great-event-single p.event-date {
    font-size: 15px;
    font-weight: 600;
    color: #CAAD2D;
    margin-top: 15px;
    margin-bottom: 0;
}

.great-event-single h4 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
}

.great-event-content p {
    font-size: 14px;
    margin-bottom: 5px;
}

.great-event-content h5 {
    font-size: 18px;
    color: #494949;
    font-weight: 600;
}


/** Testimonial Section **/
.testimonials-wrapper {
    margin: 50px 0px;
    position: relative;
}

.testimonials-wrapper .container {
    border-top: 1px solid #d9d9d9;
    position: relative;
}


.testimonials-wrapper h4 {
        margin-top: 50px;
        padding: 0px 20px;
        font-weight: 600;
        line-height: 25px;
    }
.testimonial-single h5 {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
}
 .testimonial-image {
        height: 145px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }

.testimonial-single {
    display: flex!important;
    padding: 0px 90px;
    align-items: center;
    margin-bottom: 65px;
}

.testimonials-wrapper svg {
    position: absolute;
    left: 50px;
    margin-top: 40px;
}

.testimonial-single p {
    margin-top: 75px;
    width: 60%;
    padding-left: 25px;
}

.customer-meta {
    width: 40%;
}
.testimonials button.slick-prev{
    display:none!important;
}
.testimonials button.slick-next {
    position: absolute;
    right: 0;
    top: 40%;
    background: none;
    border: 1px solid #222;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/** Footer **/
.footer-main {
    border-top: 1px solid #d9d9d9;
    padding-top: 30px;
}

.footer-main h4 {
    font-size: 18px;
    font-weight: 600;
}

ul.footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.footer-links li a {
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 500;
}

.footer-bottom {
    padding: 20px;
    background: #F0F0F0;
    margin-top: 50px;
}

.footer-bottom p {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

ul.social-icons {
    list-style: none;
    text-align: right;
}

ul.social-icons li {
    display: inline-block;
    padding: 0px 5px;
}

ul.social-icons li a {
    color: #848484;
}



ul.mobile-action-icons button i {
    margin: 0px 5px;
}

.form-control:disabled, .form-control[readonly] {
    background: #fff;
}


/** Whats Your Location | Preset Locations **/
ul.preset-locations {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: flex-start;
    align-items: center;
}

ul.preset-locations li {
    background: #e6e6e6;
    padding: 10px;
    margin-right: 4px;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    cursor: pointer;
}

ul.preset-locations li.active{
    background-color: var(--primary);
    color:var(--contrast);
    transition: all .2s ease-in;
}


/** Become Host Styles **/
.become-host-banner {
    height: 300px;
    border-radius: 10px;
}

.become-host-wrapper {
    margin: 40px 0px;
}

.become-host-banner .tbc {
    vertical-align: middle;
}

.become-host-banner h4 {
    color: #fff;
    font-size:24px;
    font-weight: 700;
}



/*** Host Dashboard Styles **/

span.green{
    background-color: var(--green);
}
span.pink{
    background-color: var(--pink);
}
span.yellow{
    background-color: var(--yellow);
}
p.account-approval {
    float: right;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

span.signal {
    background: #fff;
    margin-right: 10px;
    border-radius: 50%;
    background: #C90541;
    padding: 1px 10px;
}

ul.vendor-dashboard-links {padding: 0;list-style: none;display: flex;justify-content: flex-start;align-items: center;}

.post-header-vendor-dashboard {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px;
}



button.user-menu-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

ul.vendor-dashboard-links li {
    border-right: 1px solid #d9d9d9;
    padding: 0px 15px;
    font-weight: 600;
    font-size: 15px;
}

ul.vendor-dashboard-links li a {
    color: #000;
}

ul.vendor-dashboard-links li button.user-menu-btn .avatar-image-holder {width: 30px;height: 30px;}

ul.vendor-dashboard-links li span {
    color: #fff;
    padding: 1px 5px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 12px;
}
ul.vendor-dashboard-links li:last-child {
    border: none;
}
.exit-dashboard {text-align: right;}


.single-box {
    border: 1px solid #d9d9d9;
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px;
    min-height: 195px;
    max-height: 195px;
    background: #fff;
}

.single-box .image img {
    max-width: 95px;
    margin-right: 25px;
}

.single-box .image {
    margin-right: 20px;
}

.single-box .content h3 {
    font-size: 20px;
    font-weight: 600;
}

.single-box .content p {
    font-size: 14px;
    padding-right: 50px;
}

.single-box .content strong {
    font-size: 14px;
    color: var(--primary);
}

.vendor-dashboard-content a {
    color: #000;
}
.vendor-dashboard-content h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

ul.vendor-dashboard-links li:first-child {
    padding: 0;
}

ul.vendor-dashboard-links li button {
    padding-left: 0;
}
.exit-dashboard .clynk-default {
    font-size: 14px;
    font-weight: 600;
}


.single-box-account .image img {max-width: 60px;}

.single-box-account {
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.single-box-account h3 {
    font-size: 18px;
    margin-top: 20px;
}

.single-box-account p {
    font-size: 14px;
    margin: 0;
    height: 55px;
    margin-top: 5px;
}

.footer-3 {
    margin: 50px 0px;
}

.footer-3 h3 {
    font-size: 16px;
    font-weight: 500;
    color: #d9d9d9;
}

a#dashboard {
    border: 2px solid #d9d9d9;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}


/** Listings Page **/
.breadcrumbs a {
    color: #000;
    margin-right: 10px;
}

.breadcrumbs {
    margin-top: 50px;
}

.breadcrumbs p {
    font-size: 14px;
}

h2.section-title-lg {
    font-weight: 600;
    font-size: 30px;
}

.listings-content {
    margin: 50px 0 30px 0px;
    border-bottom: 2px solid #d9d9d9;
}

.listings-content ul.nav-tabs {border: none;}

.listings-content .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border:none;
    border-bottom: 2px solid #caad2d;
    padding-left: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.listings-content .nav-tabs .nav-item .nav-link {
    padding: 10px 5px;
    min-width: 80px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 15px;
    color: #8e8e8e;
}

.listings-content .nav-tabs .nav-item .nav-link.active {
    color: #000;
    font-weight: 600;
}


.listings-content .nav-tabs .nav-tabs .nav-link:hover {
    border-color: #fff0;
    padding: 10px 5px;
}

a#edit-packages {
    float: right;
    color: #000;
    font-weight: 500;
    position: relative;
    top: 10px;
    margin-right: 10px;
}


/** Listings **/
.listing-image {
    height: 190px;
    min-width: 265px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listing-single {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    margin-top: 30px;
}

.listing-content h3 {
    font-size: 22px;
}

.listing-content {
    margin-left: 25px;
    padding-right: 50px;
}


.listing-content ul {
    list-style: none;
    display: flex;
}

.listing-content ul li {
    margin: 0px 10px 0px 0px;
}

.listing-content h4 {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

.listing-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.listing-content span {
    font-weight: 600;
    font-size: 14px;
    color: #CAAD2D;
}

.listing-action {display: flex;flex-basis: 20%;text-align: right;flex-direction: column;align-items: flex-end;}

.listing-action .listed {
    background: #d9d9d9;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    cursor: not-allowed;
}

.listing-action a {
    color: #313131;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: underline;
}

button.unlisted {
    background: #caad2d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}


/** Inner Pages **/
ul.nav-tabs {
    margin-top: 25px;
}


.inner-page p.section-text {
    font-size: 15px;
    color: #717070;
}

ul.payment-methods {
    list-style: none;
}

ul.payment-methods li {
    display: flex;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 30px 0px;
    justify-content: flex-start;
    align-items: center;
}

ul.payment-methods li .payment-method-image img {
    max-width: 70px;
}

ul.payment-methods li .payment-method-image {
    flex-basis: 15%;
}

.payment-method-details h4 span {
    background: #d9d9d9;
    font-size: 10px;
    padding: 4px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

ul.payment-methods li .payment-method-details h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

p.payment_details {
    font-size: 14px;
    font-weight: 500;
}


.payment-method-details {
    flex-basis: 75%;
}

button.payment_method_selection {
    border-radius: 50%;
    background: var(--contrast);
    border: 1px solid #d9d9d9;
    font-size: 12px;
    color: #fff;
    width: 35px;
    height: 33px;
}
button.payment_method_selection.selected {
    background: var(--primary);
}

.sidebar-payout-methods img {
    max-width: 37px;
}

.sidebar-payout-methods {
    margin-left: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px;
}

.sidebar-payout-methods ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar-payout-methods h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.sidebar-payout-methods ul li a {
    color: #000;
    font-size: 16px;
}

.sidebar-payout-methods ul li {
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0px;
    padding: 15px 0px;
    font-weight: 400;
}

.sidebar-payout-methods ul li i {float: right;margin-right: 10px;font-size: 24px;}


/** Messages Page **/
.messages_row .listing-content h3 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.messages_row .listing-content h3 i {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.messages_row .listing-single p {margin-bottom: 25px;}

.messages_row .listing-action span {
    font-weight: 700;
    font-size: 12px;
    color: #caad2d;
}

.messages_row .listing-image {
    height: 80px;
    max-width: 85px;
    min-width: 85px;
    border-radius: 50%;
}

a.message-single {
    color: unset;
}

.messages_row .nav-tabs {
    border: none;
    position: relative;
}

.messages_row .listings-content .nav-tabs .nav-item.show .nav-link,.messages_row .nav-tabs .nav-link.active {
    background: #F2F2F2;
    border: none;
    border-radius: 25px;
}

.messages_row .nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    border: transparent;
}
.messages_row .nav-tabs .nav-link:focus,.messages_row .nav-tabs .nav-link:hover {
    
    background: #f2f2f2;
    
}

.messages_row .tab-pane {
    padding-top: 20px;
}

i.online-status {
    background: var(--green);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: 5px;
}

a.clynk-default-2 {
    border: 2px solid var(--primary);
    color: #000;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

a.clynk-default-2:hover {
    background: var(--primary);
    transition: all .3s ease-in;
    color: #fff;
}

span.replied {
    background: #d8d8d8;
    text-align: center;
    color: #000!important;
    padding: 10px;
    border-radius: 50px;
    font-weight: 400!important;
}

select#message_type {
    position: absolute;
    right: 0;
    height: 40px;
    padding: 0px 30px 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

/** Message Single Styles **/
.single-message-wrapper h2.section-title-lg {font-size: 24px;}

.page-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-fr a {
    color: #000;
}

.edit-fr {
    padding: 0px 10px;
}

.edit-fr a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.single-message-wrapper .message-recipent {
    display: flex;
    margin-top: 37px;
}



.single-message-wrapper .message-recipent .listing-image {
    height: 60px;
    min-width: 60px;
    border: 1px solid #d9d9d9;
}

.single-message-wrapper .recipent-details h3 {
    font-size: 18px;
    margin: 0;
}

.single-message-wrapper .recipent-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;
}

.single-message-wrapper .recipent-details strong {
    font-size: 14px;
}

.chat-wrapper {background: #F8F8F8;margin-top: 20px;border: 1px solid #d9d9d9;padding: 40px;height: 500px;overflow-y: auto;}

.chat-wrapper .message-box {
    width: 60%;
    background: #fff;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.message-single-sender .message-recipent {
    flex-flow: row-reverse;
}

.message-single-sender .message-recipent .message-box {
    margin-right: 10px;
    background: #FFF6D0;
}

.single-message-wrapper .recipent-details i {
    font-style: normal;
    font-size: 15px;
    FONT-WEIGHT: 400;
}

.message-typing-area textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #d9d9d9;
    padding: 10px 20px;
}

.message-type-form button {
    float: right;
}

/** Profile Information **/
.host-picture h4 {
    font-size: 15px;
}

.profile-photo-box {
    border: 1px solid #d9d9d9;
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.profile-photo-box .profile-photo-wrapper {
    height: 160px;
    width: 160px;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.profile-photo-box input.profile_photo_upload {
    display: none;
}

.profile-photo-box button#profile-picture-upload {
    font-size: 12px;
    width: 75%;
    margin: 0 auto;
    font-weight: 500;
    margin-top: 20px;
}

.single-input-field {display: flex;flex-flow: column;width: 65%;position: relative;margin-bottom: 30px;}

.profile-edit-fields {
    margin-top: 50px;
}

.single-input-field label {
    font-weight: 600;
    font-size: 14px;
}

.single-input-field input {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px 0 10px 0px;
    font-size: 15px;
}

.single-input-field button.edit-field {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #caad2d;
}

.nav-tabs .nav-link {
   
    padding-left: 0;
    font-weight: 600;
    font-size: 14px;
}

/** Notifications Page **/ 
.notification-setting-single {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid #d9d9d9;
}

ul#selectables {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 35%;
    align-items: center;
}

.notification-details {
    flex-basis: 70%;
}

.notification-details h4 {
    font-size: 16px;
    font-weight: 600;
}

.notification-details p {
    font-size: 14px;
}

#notification_settings table {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

#notification_settings table tr th {
    padding: 0px 20px;
}

/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
/* Create a custom checkbox */
.checkmark {position: absolute;top: -5px;left: 0;height: 25px;width: 25px;background-color: #eee;border-radius: 50%;}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {background-color: #cbae2d;}

.custom-checkbox:after {
content: "";
position: absolute;
display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
    display: block;
}

span.checkmark::after {content: "";position: absolute;display: none;left: 10px;top: 7px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

.notification-single {
    margin-top: 30px;
    border-bottom: 1px solid #d9d9d9;
}

.notification-single h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.notification-single h5 {
    font-size: 14px;
    font-weight: 600;
}

.notification-single h4 span {
    font-size: 11px;
    margin-left: 5px;
}

.notification-single p {font-size: 14px;}

i.notification-status {
    width: 10px;
    height: 10px;
    background: #a9008c;
    position: absolute;
    top: 5px;
    margin-left: 5px;
    border-radius: 50%;
}


/** Guest Bookings Page **/

.guest_bookings .listings-content {
    padding: 0;
    margin: 0;
}

ul#myTab {}

.guest_bookings ul.nav-tabs {
    margin: 0;
}

ul.bookings-data {
    display: flex;
    list-style: none;
    margin-bottom: 25px;
}

ul.bookings-data li {
    background: #FFF6D0;
    margin-right: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    border-radius: 10px;
}

ul.bookings-data li p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.bookings {
    margin-top: 20px;
}

ul.bookings-data li span {
    font-size: 24px;
    font-weight: 600;
}

.guest_bookings .listing-image {
    height: 100px;
    min-width: 100px;
}

.bookings .listing-content {
    flex-basis: 70%;
}

.bookings .listing-action button {
    width: 60%;
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
}
.booking h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}


/** About Venue Page **/ 
.single-venue {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 0px 0px 20px 0px;
    position: relative;
}

.venue-action-buttons {flex-basis: 35%;display: flex;justify-content: flex-end;}

.venue-details {
    flex-basis: 65%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

.single-venue-hero {
    height: 450px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.single-venue-hero .container {
    height: 100%;
}

.venue-action-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.venue-action-buttons ul li {
    margin: 0px 10px 0 0;
}

.venue-details h3 {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

.venue-details p {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.venue-rating {flex-basis: 50%;text-align: right;}

.venue-description {
    flex-basis: 50%;
}

.venue-rating span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.venue-rating span i {
    color: #caad2d;
}

.venue-action-buttons li button i {
    margin-right: 5px;
}

.single-venue-hero::before {content: "";background: #0000007a;position: absolute;width: 100%;height: 100%;}
a#about-venue {
    float: right;
    margin: 0;
}

/** Customer Account Payment Methods **/
.payment_methods h4 {
    font-size: 18px;
    font-weight: 600;
}

.payment_methods p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.payment_methods {
    margin-bottom: 30px;
}

.card-single {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    flex-basis: 45%;
    margin-right: 15px;
    padding: 20px;
    position: relative;
}

.card-single i img {
    max-width: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-availibility {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-details span {font-size: 16px;font-weight: 600;color: #494949;}

.card-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-details i {
    flex-basis: 40%;
}

.card-availibility strong {
    font-size: 12px;
    flex-basis: 59%;
}

.card-single p {
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 500;
}

.card-single a#edit-card-info {
    position: absolute;
    right: 25px;
    top: 100%;
    margin-top: 10px;
    font-weight: 500;
    color: #cbae2d;
}

.card-single a#remove-card {
    position: absolute;
    top: 100%;
    color: #000;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

button#add-new-card {
    margin-top: 75px;
    border: none;
    background: none;
    font-weight: 600;
    color: var(--primary);
}

.paypal strong {
    font-size: 16px;
}

.paypal p {
    margin: 0;
}

.payment_methods_row ul.nav li {
    margin-right: 15px;
}

.payment-methods-sidebar {
    padding: 35px;
    width: 75%;
}

.payment-methods-sidebar img {
    margin-bottom: 20px;
    max-width: 55px;
}

.payment-methods-sidebar h5 {font-size: 16px;font-weight: 600;}

.payment-methods-sidebar p {font-size: 14px;}

.payment-methods-sidebar p a {
    font-weight: 600;
    color: var(--primary);
}



/** Venue DEtails Styles **/ 
ul.venue-features {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.venue-features li i img {
    max-width: 24px;
    position: relative;
    top: -5px;
    margin-right: 10px;
}

ul.venue-features li {margin-right: 20px;font-weight: 500;}

.venue-details-wrapper {
    margin: 50px 0px;
}

.venue-details-wrapper h6 {
    font-weight: 500;
    color: var(--primary);
    font-size: 17px;
}

.venue-details-wrapper h3 {
    font-size: 26px;
    font-weight: 600;
}

.venue-details-wrapper p {
    margin-top: 15px;
}

.venue-details-wrapper p {
    font-size: 18px;
    color: #404040;
}

.venue-pictures-map h4 {
    font-size: 18px;
    font-weight: 600;
}

.venue-pictures-map {
    margin-top: 45px;
}

.venue-image-single {
    height: 215px;
    flex-basis: 48%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 10px;
}

.venue-images {
    display: flex;
    flex-wrap: wrap;
}

.venue-map {
    height: 430px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.viewer-360 {
    border: 1px solid #d9d9d9;
    width: 98%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
}

.viewer-360 img {
    max-width: 90px;
}

.viewer-360 h4 {
    font-size: 14px;
    margin-top: 10px;
}

a#virtual_tour {background: #000;padding: 7px 10px;border-radius: 50%;font-size: 12px;margin-left: 10px;}


.venues-reviews-wrapper {
    background: #F8F8F8;
    padding: 50px;
}

.venues-reviews-wrapper h4.section-title-small {
    font-size: 18px;
    font-weight: 600;
    color: #303030;
}

.venues-reviews-wrapper .venue-rating {
    text-align: left;
    margin-top: 35px;
}

.venues-reviews-wrapper .venue-rating span {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

.venues-reviews-wrapper .venue-rating strong {
    font-weight: 500;
}


ul.ratings-all {
    list-style: none;
    margin-top: 20px;
    display: flex;
    width: 52%;
    flex-wrap: wrap;
}

ul.ratings-all li {
    flex-basis: 35%;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 10px;
    justify-content: space-between;
    margin-right: 50px;
}

ul.ratings-all li .rating-bar {
    background: var(--primary);
    height: 3px;
    margin: 0px 10px;
    flex-basis: 50%;
    display: flex;
}

ul.ratings-all li strong {
    flex-basis: 30%;
}

a#virtual_tour:hover {
    background: var(--primary);
    transition: all .2s ease-in;
}

ul.ratings-all li span {
    flex-basis: 85%;
}

.venue-reviews {
    margin-top: 60px;
}

.reviews-wrapper svg {
    position: absolute;
}

.reviews-wrapper {
    border-top: 1px solid #d9d9d9;
}

.reviews-wrapper .testimonial-single {
    padding: 0 45px;
}

.customer-meta {
    text-align: center;
}


/** Venue Event Page **/
.venue-event-profile-wrapper .event-image {
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-right: 30px;
}

.venue-event-profile-wrapper {
    margin: 50px 0;
}

.venue-event-profile-wrapper p.event-date {
    margin: 0;
    font-size: 16px;
    color: #494949;
    font-weight: 500;
}

.venue-event-profile-wrapper h4.event-name {font-size: 24px;font-weight: 500;margin: 5px 0px 10px 0px;}

.venue-event-profile-wrapper p.venue-description {
    font-size: 15px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    width: 80%;
}

.host-image {
    flex-basis: 95px;
    border-radius: 50%;
    height: 95px;
    border: 1px solid #d9d9d9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 15px;
}

.event-host-information {
    display: flex;
    margin-top: 50px;
}

.host-details h4 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

p.venue-description a {
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}

.host-details {
    margin-left: 30px;
}

.host-image {
    margin-left: 30px;
}

.package-content {margin-top: 15px;}

.vip-package-single {
    background: #F8F8F8;
    display: flex!important;
    align-items: center;
    width: 90%!important;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}



.vip-package-detail {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: flex-start;
}

.vip-package-image {
    flex-basis: 75%;
    height: 275px;
    margin-right: 30px;
    background-position: center;
    background-size: cover;
}

.vip-package-action {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-basis: 21%;
}

.vip-package-action strong {
    font-size: 16px;
}

.vip-package-action select {
    padding: 10px 30px;
    margin: 20px 0px;
}

.package-content h4 {
    font-size: 20px;
    font-weight: 700;
}

.package-content h4 span {
    font-weight: 400;
    border-left: 1px solid #ababab;
    margin-left: 20px;
    padding-left: 20px;
}

.package-content p {
    font-size: 14px;
    margin-top: 25px;
}

.package-content p strong {
    display: block;
}

ul.venue-features li p {
    margin: 0;
}

.vip-packages .slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    background: none;
    border: 2px solid #bbb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #bbb;
}

.pay-for-event {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-for-event img {
    max-width: 120px;
    height: 85px;
    margin-right: 35px;
}

.pay-for-event h4 {
    font-size: 21px;
    font-weight: 600;
    flex-basis: 40%;
}

.pay-for-event-details {flex-basis: 50%;display: flex;flex-flow: column;align-items: flex-end;}

.pay-for-event-details p {
    font-size: 15px;
    margin: 0;
}

.pay-for-event-details h4 {
    font-size: 20px;
}

button.confirm-pay {
    background: #05C93A;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
}

.add-vip-package {padding-top: 50px;margin-bottom: 50px;}

.venue-event-rules {
    margin-top: 50px;
}

.venue-event-rules h4 {
    font-weight: 600;
    font-size: 18px;
}

.venue-event-rules p {
    font-size: 14px;
}

.date-selection h4 strong {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.date-selection {
    margin-top: 30px;
}

.date-selection h4 {
    font-size: 20px;
    font-weight: 400;
}

div#ui-datepicker-div {
    width: 50%!important;
    position: relative!important;
    top: 0!important;
    left: 0!important;
    margin-bottom: 40px;
    border: none;
}

input#vip-experience-picker {
    opacity:0;
    visibility: hidden;
}


#ui-datepicker-div{
    position: relative;
    font-family: Montserrat!important;
    
}
.venue-event-profile-wrapper .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 47%;
    border: 1px solid #d9d9d9;
    margin-right: 15px;
    padding: 20px;
    border-radius: 5px;
}
.venue-event-profile-wrapper .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    text-align: center;
    background: none;
    border: 1px solid #d9d9d9;
    font-size: 16px;
}

.venue-event-profile-wrapper td.ui-datepicker-current-day {
    background: var(--primary);
}

.venue-event-profile-wrapper .ui-datepicker td {
    padding: 0;
}



/** Thankyou page and Email Template **/ 

.ticket-actions button {
    background: none;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0px 0px;
    font-size: 14px;
}

button#print {
    background: #05c93a;
    color: #fff;
    font-weight: 600;
    border: 1px solid #d9d9d9d9;
}

button#close {
    background: #303030;
    color: #fff;
}

.main-wrapper-thankyou h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

.main-wrapper-thankyou p {
    font-size: 14px;
    margin-top: 10px;
}


.main-wrapper-thankyou .vip-package-detail {
    flex-flow: column;
    width: 90%;
}

.main-wrapper-thankyou .vip-package-image {flex-basis: unset;width: 100%;}

.main-wrapper-thankyou .event-image {
    flex-basis: unset;
    width: 100%;
    height: 275px;
}

.event-image {
    display: flex;
    flex-flow: column;
}

.event-single {
    width: 85%;
    margin: 0;
}


.booking-event-venue-details{
    border-bottom: 1px solid #d9d9d9;
}
.ticket-preview-area {
    margin-top: 40px;
    border-top: 3px dashed #afafaf;
    position: relative;
}

.ticket-preview-area::before {
    content: "";
    width: 35px;
    height: 30px;
    background: url(../images/icons/cut-icon.png);
    position: absolute;
    top: -15px;
    left: -25px;
}


img.ticket-image {
    width: 635px;
}

